- if can? :edit, comment
  %a.edit-comment.btn.btn-sm.btn-default{ title: t('links.edit_comment'),
                           href: edit_comment_path(comment) }
    %span.glyphicon.glyphicon-pencil
  
