%em Let's get connected through the internet. Collect a central forum to discuss civic projects. Make education free, and work worth a worthy sum. Time is a precious treasure we're either keeping pace or falling back. Let's protect and make benefit from the power of the sun. We don't have to agree on everything, and I bet we can agree on some. 

Consider- 
1. Would the founding fathers of America have any good reason to reject integrating modern technologies like internet forum boards for politial respects? For example, consider a hypothetical fourth branch of government organized and regulated through public consensus mechanisms by location structured forum boards with information resources and polling. 

2. How viable and secure is user registration and verification today? How does scaling relate?  

3. Do you understand the law, and should you be able to easily? Are laws necessarrily complex when it comes to things like human rights? 

4. Is it "democracy" when significant portions of our people don't vote? What incenstive and deterants face voters today?

5. What protections against election fraud do Americans have today?


If questions like these are subject material you are interested and willing to fairly discuss, than this is the place for you. Fair rules, clear support, and transparent structure combined with a practical and efficient form. Check out how it works here-

 


