- if can? :destroy, post
  %a.delete-post.btn.btn-sm.btn-danger{ title: t('links.delete_post'),
                           href: post_path(post),
                           'data-method': 'delete' }
    %span.glyphicon.glyphicon-trash
