- if can? :edit, post
  %a.edit-post.btn.btn-sm.btn-default{ title: t('links.edit_post'),
                                      href: edit_post_path(post),
                                      id: 'edit_post_%d' % post.id }
    %span.glyphicon.glyphicon-pencil
  
