- if defined? forum
  = form_for [ forum, post ] do |f|
    = render partial: 'form_controls', locals: { f: f }
- else
  = form_for post do |f|
    = render partial: 'form_controls', locals: { f: f }
